.nav-btn {
  border: none;
  opacity: 0.9;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 8px 20px;
  border-radius: 50px;
  letter-spacing: 0.2px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  transition: transform 0.5s ease;
  /* background-color: #0075bb; */
  background: linear-gradient(135deg, #7f6de3 0%, #11aaf1 100%);
}

.nav-btn:disabled {
  border: none;
  opacity: 0.9;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 8px 20px;
  border-radius: 50px;
  letter-spacing: 0.2px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  transition: transform 0.5s ease;
  /* background-color: #0075bb; */
  background: linear-gradient(135deg, #7f6de3 0%, #11aaf1 100%);
}


.cancel-btn{
  border: none;
  opacity: 0.9;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 8px 20px;
  border-radius: 50px;
  letter-spacing: 0.2px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  transition: transform 0.5s ease;
  /* background-color: #0075bb; */
  background: linear-gradient(135deg, #df1616 0%, #f1c608 100%);
}
.footer > ul > li {
  list-style-type: none;
  
  padding: 5px;
  font-size: 1.4rem;
  font-weight: 500;
  color: #1c2244;
}

.footer {
  background-color: #becce9;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.banner-img {
  width: 60%;
  height: 60vh;
  margin-top: 2rem;
}

tr > td,
th {
  text-align: center;
  color: white !important;
}

ul {
  display: flex;
  padding: 10px;
  justify-content: center;
}

.card-style {
  padding: 10px;
  width: 18rem;
  border: 1px solid #1d2345;
  border-radius: 10px;
  box-shadow: 0px 4px 8px 0px #1d2345;
}

.fcontrol:focus {
  box-shadow: none !important;
  outline: none !important;
  background-color: #e8f0fe !important;
}

.fcontrol{
  border:none;
  border-bottom: 2px solid #4e65e8;
  background-color: #e8f0fe !important;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 150px;
  height: 150px;
  border: 20px solid white;
  border-top: 20px solid #1d2345;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.search {
  height: 2.8rem;
  width: 22rem;
  color: rgb(33, 33, 33);
  margin-top: 1rem;
  border: none;
  border-radius: 30px;
  background-color: #e8f0fe;
  padding: 15px;
}
.search:focus{
  border:none;
}

.navs {
  font-size: 1.4rem;
  font-weight: 500;
  color: #1c2244;
}

